.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #be1212;
}

table {
  color: rgb(255, 254, 254);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #1a0b0b;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}